# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Use bat for colored less output
# This could cause issues since "bat" relies on "less" as a pager,
# but let's just try this for now.
alias less="bat"

# Shortcuts
alias d="cd ~/Developer"

alias l='ls -1A'         # Lists in one column, hidden files.
alias ll='ls -lh'        # Lists human readable sizes.
alias lr='ll -R'         # Lists human readable sizes, recursively.
alias la='ll -A'         # Lists human readable sizes, hidden files.
alias lm='la | "$PAGER"' # Lists human readable sizes, hidden files through pager.
alias lx='ll -XB'        # Lists sorted by extension (GNU only).
alias lk='ll -Sr'        # Lists sorted by size, largest last.
alias lt='ll -tr'        # Lists sorted by date, most recent last.
alias lc='lt -c'         # Lists sorted by date, most recent last, shows change time.
alias lu='lt -u'         # Lists sorted by date, most recent last, shows access time.

# Easier git
alias g="git"
alias gd="git diff"
alias gs="git status -sb"

# Count the total number of lines of code in the repository
# adding -z and -0 arguments will escape file names so we can count filenames with spaces
alias gloc="git ls-files -z | xargs -0 wc -l"

# Update things
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g;"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Inspect processes
alias psmem="ps -e -orss,args | sort -b -k1,1nr"
alias psmem10="ps -e -orss,args | sort -b -k1,1nr | head -10"
alias pscpu="ps -e -o pcpu,cpu,cputime,args | sort -k1 -nr"
alias pscpu10="ps -e -o pcpu,cpu,cputime,args | sort -k1 -nr | head -10"

# List brew packages that are leaf nodes (i.e. have no dependencies), and their corresponding dependencies
alias brewdeps="brew leaves | xargs brew deps --installed --for-each | sed \"s/^.*:/$(tput setaf 4)&$(tput sgr0)/\""

# Pretty-print JSON
alias jsontidy="pbpaste | jq '.' | pbcopy"

# Dev tools
alias pj="npx projen"
