# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias d="cd ~/Developer"

# Easier git
alias g="git"
alias gd="git diff"
alias gs="git status -sb"
alias gloc="git ls-files | xargs wc -l"

# Open current repo on GitHub. Courtesy of:
# https://gist.github.com/igrigorik/6666860
gh() {
    open https://github.$(git config remote.origin.url | cut -f2 -d.)
}

# Update things
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g;"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
